/* General button styles
-------------------------------------------------- */

[class*="button"]
{
	position: relative;
	display: inline-block;
	padding: 4px 12px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	vertical-align: top;

	cursor: pointer;

	margin-top: 0;
	margin-right: .25rem;
	margin-bottom: .4rem;
	margin-left: 0;

	color: $color-lightest;
	background-color: $color-dark;
}

/* Active */
[class*="button"]:active
{
	color: $color-primary;
}

/* Button modifiers
-------------------------------------------------- */

.button-primary
{
	background-color: $color-primary;
}

.button-secondary
{
	background-color: $color-accent-medium-light;
}

.button-tertiary
{
	background-color: $color-accent-light;
}

.button-primary:active, .button-secondary:active, .button-tertiary:active
{
	color: $color-dark;
}

.button-primary:active
{
	background-color: $color-accent-medium-dark;
}

.button-secondary:active
{
	background-color: $color-accent-medium;
}

.button-tertiary:active
{
	background-color: $color-accent-darker;
}

/* Block level buttons (full width buttons) */
.button-block
{
	display: block;
	margin-right: 0;
}

.button-large {
	font-size: 21px;
	line-height: 24px;
	padding: 8px 24px;
}
