@font-face {
	font-family: "rijksmuseum";
	src: url('../asset/font/rijksmuseum.otf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "rijksmuseum";
	src: url('../asset/font/rijksmuseum_italic.otf');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'rijksmuseum';
	src: url('../asset/font/rijksmuseum_bold.otf');
	font-style: normal;
	font-weight: 800;
}
