/* Forms
-------------------------------------------------- */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
}

select, textarea, input[type="text"], input[type=search], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .input-group
{
	width: 100%;
	height: 2rem;
	padding: .5rem;
	background-color: $color-lightest;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	box-sizing: border-box;
	margin-bottom: .5rem;
}

input[type="search"]
{
	border-radius: 999rem;
}

textarea
{
	height: auto;
}

/* Style select button to look like part of the Ratchet's style */
//select {
//	height: auto;
//	font-size: 14px;
//	background-color: #f8f8f8;
//	background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #d4d4d4 100%);
//	background-image: linear-gradient(to bottom, #f8f8f8 0%, #d4d4d4 100%);
//	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
//}


/* Input groups (cluster multiple inputs together into a single group)
-------------------------------------------------- */

.input-group
{
	width: auto;
	height: auto;
	padding: 0;
}

.input-group input
{
	margin-bottom: 0;
	background-color: transparent;
}

.input-group input, .input-row
{
	border-bottom: .125rem solid $color-dark;
}

.input-group input:last-child, .input-row:last-child
{
	border-bottom-width: 0;
}

.input-row
{
	overflow: hidden;
}

.input-row label
{
	float: left;
	width: 25%;
	padding: 11px 10px 9px 13px;
	color: $color-dark;
}

.input-row label + input
{
	float: right;
	width: 65%;
	padding-left: 0;
	margin-top: .125rem;
	margin-bottom: .125rem;
}

.input-row label + select
{
	float: right;
	width: 65%;
	padding-left: 0;
	margin-top: .125rem;
	margin-bottom: .125rem;
}