
// Colors.
$color-primary: #d55140;
$color-darker: #202327;
$color-dark: #343537;
$color-light: #a2abad;
$color-lightest: #ffffff;

$color-accent-darker: #6b8cc6;
$color-accent-light: #5e99b0;

$color-accent-medium-dark: #ac8367;
$color-accent-medium: #70887b;
$color-accent-medium-light: #42a68c;

