.meestermatcher-modal fieldset
{
	display: block;
	overflow: hidden;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.meestermatcher-modal fieldset a
{
	display: inline-block;
	vertical-align: top;
	line-height: 28px;
}

.meestermatcher-modal .toggle
{
	float: right;
}

.meestermatcher-modal h1
{
	text-align: center;
	font-size: 20px;
	line-height: 44px;
}
