.walkthrough-list .wrapper-outer
{
	pointer-events:none;
	position: relative;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.wrapper-outer .content-padded
{
	margin-left: 0;
	margin-right: 0;
}


.walkthrough-list .wrapper-inner
{
	height: 20em;
}

.walkthrough-list li
{
	text-align: center;
	padding: 1em 0;
}

.walkthrough-list .img-wrapper
{
	padding: 24px;
}

.walkthrough-list p
{
	margin: 0 24px;
}

.walkthrough-list img
{
	max-width: 100%;
}

.meestermatcher-list
{
	margin-top: 24px;
}

.meestermatcher-list p
{
	margin-bottom: 36px;
	text-align: center
}


.meestermatcher-row
{
	text-align: justify;
	margin-bottom: 48px;
// 	font-size: 0
}

.meestermatcher-row::after
{
	display: inline-block;
	width: 100%;
	content: ''
}

.meestermatcher-row strong
{
	margin-top: 60px;
	display: block;
	width: 100%;
	text-align: center;
}

.meestermatcher-row .img
{
// 	font-size: 12px;
	width: 20%;
// 	margin-right: 6.5%;
	height: 48px;
	background-size: cover;
	display: inline-block;
	
// 	&.last
// 	{
// 		margin-right: 0;
// 	}
}

.meestermatcher-list li
{
	margin: 0;
	padding: 0;
	background: none;
}

.meestermatcher-controller, .walkthrough-controller
{
	position: fixed;
	bottom: 48px;
	left: 0;
	right: 0;
	margin-top: 0;
	text-align: center;
	letter-spacing: 12px;
}

.meestermatcher-controller li,  .walkthrough-controller li
{
	display: inline-block;
	overflow: hidden;
	background-color: $color-dark;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	text-indent: 100%;
	letter-spacing: 1em;
	position: relative;
}

.meestermatcher-controller li a,  .walkthrough-controller li a
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


.meestermatcher-controller li.active,  .walkthrough-controller li.active
{
	background-color: $color-primary;
}

.meestermatcher-list .segmented-controller-item, .walkthrough-list .segmented-controller-item
{
	position: fixed;
	display: block;
	top: 0;
	opacity: 0;
	z-index: 11; 
	width: 100%;
	-webkit-transform: translate3d( 200%, 0, 0 );
	transform: translate3d( 200%, 0, 0 );
	-webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
	transition: transform .25s ease-in-out, opacity 1ms .25s;
}

.meestermatcher-list .segmented-controller-item.active, .walkthrough-list .segmented-controller-item.active
{
	opacity: 1;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25 ease-in-out;
	-webkit-transform: translate3d( 0, 0, 0 );
	transform: translate3d( 0, 0, 0 );
}

.info-modal .img
{
	background-size: cover;
}
.info-modal .img .hidden
{
	opacity: 0;
	max-width: 100%;
	display: block;
	visibility: hidden;
}

.info-wrapper
{
	padding: 10px;
}

.info-wrapper h1
{
	padding-bottom: 10px;
	font-size: 24px;
}

.info-wrapper h2
{
	font-size: 16px;
	font-style: italic;
	padding-bottom: 10px;
}

.info-wrapper p
{
	line-height: 1.5;
}

.info-wrapper .button-block
{
	margin-top: 10px;
}

.info-modal .overflow-wrapper
{
	margin-left: 12px;
	margin-right: 74px;
	overflow: hidden;
	text-overflow: ellipsis;
}