.planner
{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
	bottom: 100%;
	background-color: $color-dark;
	border-bottom: 5px solid $color-primary;
	display: table;
	width: 100%;
}

.planner-container
{
	display: table-cell;
	vertical-align: bottom;
	padding: 1em 1em 1.5em 1em;
}

.planner.animate
{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.planner:after, .planner:before
{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	left: 85%;
	position: absolute;
	border-color: transparent;
}

.planner:after
{
	border-top-color: $color-dark;
	border-width: 40px;
	margin-left: -40px;
}

.planner:before
{
	border-top-color: $color-primary;
	border-width: 47px;
	margin-left: -47px;
}

.planner .row
{
	text-align: justify;
	font-size: 0;
	
	& .button
	{
		display: inline-block;
		width: 49%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
		margin: 0;
	}
	
	&:after
	{
		display: inline-block;
		width: 100%;
		content: '';
	}
}

.walkthrough-modal .wrapper-outer
{
	pointer-events: none;
	position: relative;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin: 12px;
	border: 12px solid #343537;
}

.wrapper-outer .content-padded
{
	margin-left: 0;
	margin-right: 0;
}


.walkthrough-modal .wrapper-inner
{
	height: 18em;
}

.carousel-list.animate
{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;;
	-ms-transition: all .3s;;
	-o-transition: all .3s;;
	transition: all .3s;;
}

.carousel
{
	overflow: hidden;
	max-width: 100%;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	-moz-transition: translate3d(0,0,0) scale3d(1,1,1);
	-ms-transition: translate3d(0,0,0) scale3d(1,1,1);
	-o-transition: translate3d(0,0,0) scale3d(1,1,1);
	transition: translate3d(0,0,0) scale3d(1,1,1);
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.carousel-list
{
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-moz-transition: translate3d(0%,0,0) scale3d(1,1,1);
	-ms-transition: translate3d(0%,0,0) scale3d(1,1,1);
	-o-transition: translate3d(0%,0,0) scale3d(1,1,1);
	transition: translate3d(0%,0,0) scale3d(1,1,1);
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	overflow: hidden;
	position: relative;
}

.carousel-list > li
{
	background: transparent;
	text-align: center;
	padding: 1em 0;
	float: left;
	overflow: hidden;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-transform: translate3d(0,0,0);
	-moz-transition: translate3d(0,0,0);
	-ms-transition: translate3d(0,0,0);
	-o-transition: translate3d(0,0,0);
	transition: translate3d(0,0,0);
	
}

.walkthrough-modal .carousel .img-wrapper
{
	padding: 24px;
}

.walkthrough-modal .carousel p
{
	height: 4em;
	margin: 0 24px;
}

.walkthrough-modal .carousel img
{
	max-height: 100%;
}

.meestermatcher-modal .carousel-list
{
	margin-top: 24px;
}

.meestermatcher-modal .carousel-list p
{
	margin-bottom: 36px;
	text-align: center
}

.meestermatcher-row
{
	text-align: justify;
	margin: 24px;
}

.meestermatcher-row::after
{
	display: inline-block;
	width: 100%;
	content: ''
}

.meestermatcher-row strong
{
	margin-top: 60px;
	display: block;
	width: 100%;
	text-align: center;
}

.meestermatcher-row .img
{
	width: 20%;
	height: 48px;
	background-size: cover;
	display: inline-block;
}

.meestermatcher-modal .carousel-list li
{
	margin: 0;
	padding: 0;
	background: none;
}

.carousel-controller
{
	position: fixed;
	bottom: 48px;
	left: 0;
	right: 0;
	margin-top: 0;
	text-align: center;
}

.carousel-controller li
{
	display: inline-block;
	overflow: hidden;
	background-color: $color-dark;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	text-indent: 100%;
	position: relative;
}

.carousel-controller li + li
{
	margin-left: 10px;
}

.carousel-controller li a
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


.carousel-controller li.active
{
	background-color: $color-primary;
}

.info-modal .img
{
	background-size: cover;
}
.info-modal .img .hidden
{
	opacity: 0;
	max-width: 100%;
	display: block;
	visibility: hidden;
}

.info-wrapper
{
	padding: 10px;
}

.info-wrapper h1
{
	padding-bottom: 10px;
	font-size: 24px;
}

.info-wrapper h2
{
	font-size: 16px;
	font-style: italic;
	padding-bottom: 10px;
}

.info-wrapper p
{
	line-height: 1.5;
}

.info-wrapper .button-block
{
	margin-top: 10px;
}

.info-modal .overflow-wrapper
{
	margin-left: 12px;
	margin-right: 74px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.uitgestippeld-modal .carousel-list
{
	height: 80%;
}

.uitgestippeld-modal .carousel-controller
{
	bottom: initial;
	top: 85%;
}

.uitgestippeld-modal .carousel-list li
{
	display: block;
	height: 100%;
	padding: 1em 0;
}

.uitgestippeld-item
{
	color: inherit;
	padding: 2em 2em 3em 2em;
	background-size: cover;
	margin-left: 1em;
	margin-right: 1em;
	height: 100%;
	display: table;
}

.uitgestippeld-content
{
	margin: 1em;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 1em;
	background: rgba(0,0,0,.5);
}

.uitgestippeld-content h1
{
	margin-bottom: 1em;
}

.uitgestippeld-link
{
	margin-top: 1em
}