body > .content
{
	overflow: hidden;
}

#map-canvas
{
	// Hide google logo.
	height: 105%;

	/* Overwrites Google Maps loading style */
	background-color: transparent !important;
	
	// Add a nice color.
	color: $color-darker;
	
}

.button-map
{
	margin-top: 6px;
}